# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Specific to this project
*.spec
ffmpeg.exe
ffmpeg.zip
downloads/
*.mp4
*.mp3
*.webm
